[user]
  name = Jake Waller
  email = wallerjake@gmail.com
[alias]
  s = status
  co = checkout
  b = branch
  l = log
[color]
  status = auto
  branch = auto
  diff = auto
[core]
  excludesfile = /Users/jakewaller/.gitignore
